/*h1 {
	font font-family: Verdana;
}

#titulo {
	color: blue;
}

.destaque {
	color: red;
}

p.missao {
	font-family: Arial;
}*/

#titulo {
	color: red;
	font-family: Arial;
	font-size: 26px;
}

p {
	font-family: Verdana;
	color: blue;
}

.missao, .destaque {
	font-size: 20px;
}