
* {
	box-sizing: border-box;	/*caixa box n~~ao aumenta de tamanho.*/
}

body {
	margin: 0;

	font-family: Arial, Helvetica, sans-serif;
	font-size: 14px;
}

header {
	height: 60px;
	border-bottom: 1px solid #ccc;
}

header img {
	margin-top: 12px;
}

.container {	/* o div container ou caixa container, possui essa largura.*/
	width: 1200px;
	padding-left: 15px;
	padding-right: 15px;
	margin: 0 auto;	/*0 sup. e inf. e automático nas laterais.*/
}