
/*--------------------*\
  TITULO-FORMULARIO
\*--------------------*/

.titulo-formulario {
	margin: 0;
	margin-bottom: 40px;

	border-bottom: 1px solid #ccc;

	font-size: 2.6rem;
	font-weight: normal;

	color: #004b86;
}

/*--------------------*\
  GRUPO-ENTRADA
\*--------------------*/

.grupo-entrada {
	margin-bottom: 15px;
}

.grupo-entrada > label {
	display: block;
	font-weight: bold;
}

/*--------------------*\
  CAMPO
\*--------------------*/

.campo {
	display: block;
	width: 100%;
	height: 2.0em;
	padding: 5px;
	border: 1px solid #ccc;	/*border-width:espessura da borda, border-style: estilo da borda,
							  border-color: cor da borda*/
	border-radius: 5px;

	background-color: #fff;

	font-size: 1.4rem;
}


/*--------------------*\
  BOTAO
\*--------------------*/
.botao {
	display: inline-block;
	padding: 0.5em 0.8em;	/*relativo ao pai.*/

	background-color: #bbb;
	color: #fff;
	border: none;

	line-height: normal;
	font-size: 1em;
	text-decoration: none;
}

/*pseudo elemento*/

.botao:hover, .botao:focus {
	background-color: #aaa;
	color: #fff;

	text-decoration: none;
}

.botao--assinar {
	border-radius: 10px;

	background-color: #004b86;
}

.botao--assinar:hover, .botao--assinar:focus {
	background-color: #003b6a;
}

/*--------------------*\
  MEDIA QUERY ( criei esse ponto de parada porque achei que fica mais legal ocupar 80% o campo em telas maiores).
\*--------------------*/
@media(min-width: 992px) {
	.campo{
		width: 90%;

	}
}